/.idea/workspace.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pythonProject.iml
/data/
/results/
/school_tests/
/Space_game/
/.idea/misc.xml
/.idea/.name
/DriverDetectionModel/def_seq/
/DriverDetectionModel/argparse_test.py
/DriverDetectionModel/tensorboard_utils.py
/EncoderTests/def_seq/

